<header class="page-header">
  <div class="container-header">
    <a class="header-logo-link" href="http://maxefi.ru/">
      <img class="logo-img" src="{{ config.base_url }}app/img/logo.png" alt="logo">
      <h1 class="header-logo-text">Portfolio frontend developer Efimov Maxim</h1>
    </a>
    <ul class="socials">
      <li class="socials-item">
        <a href="http://vk.com/maxefi" target="_blank" class="socials-link vk">http://vk.com/maxefi</a>
      </li>
      <li class="socials-item">
        <a href="https://twitter.com" target="_blank" class="a socials-link tw">Twitter</a>
      </li>
      <li class="socials-item">
        <a href="https://www.facebook.com" target="_blank" class="a socials-link fb">Facebook</a>
      </li>
      <li class="socials-item">
        <a href="https://github.com/maxefi" target="_blank" class="a socials-link gh">https://github.com/maxefi</a>
      </li>
    </ul>
  </div>
</header>
