.contact {
	/*min-height: 855px;*/
	background: #eff3f7;
	border-radius: 4px;
	margin-bottom: 26px;
	overflow: hidden;
}

.contact .contact-header {
	display: block;
	width: 100%;
	margin: 0 0 20px 0;
	padding: 40px 0;
	color: #ffffff;
	font-size: 27px;
	font-family: 'fira_sansbook';
	background-color: #48cbe8;
	text-align: center;
	font-weight: normal;
	border-bottom: 17px solid #67dffa;
}

.contact-body {
	padding: 0 20px 20px;
}

.contact-form {
	width: 400px;
	margin: 0 auto;
}

.form-cell {
	width: 400px;
	margin-bottom: 10px;
}

.left-pos {
	float: left;
}

.right-pos {
	float: right;
}

.contact-label {
	color: #b2bac1;
	font-size: 19px;
}

.contact-input,
.contact-text {
	display: block;
	min-width: 170px;
	max-width: 100%;
	border: 1px solid #3ba8c0;
	border-radius: 3px;
	color: #48CBE8;
	font-family: 'fira_sansbook';
	font-size: 13px;
	padding: 10px;
}

.add-input::-webkit-input-placeholder,
.add-text::-webkit-input-placeholder,
.contact-input::-webkit-input-placeholder,
.contact-text::-webkit-input-placeholder {
	color: #48CBE8;
}

.add-input::-moz-placeholder,
.add-text::-moz-placeholder,
.contact-input::-moz-placeholder,
.contact-text::-moz-placeholder {
	color: #48cbe8;
}

.contact-text {
	width: 100%;
	box-sizing: border-box;
	height: 185px;
}

.contact-captcha {
	border: 1px solid #3ba8c0;
	border-radius: 3px;
}

.contact-input-captcha {
	padding: 5px 10px;
	margin-top: 12%;
}

.contact-btn {
	height: 35px;
	padding: 0 20px;
	border: 0;
	color: white;
	border-radius: 5px;
}

.contact-btn:hover {
	border-bottom: 0;
}

.contact-btn-submit {
	border-bottom: 2px solid #19aaca;
	background: #48cde8;
}

.contact-btn-reset {
	border-bottom: 2px solid #616e79;
	background: #95a1ab;
}