.login-wrapper {
	position: absolute;
	top: 0;
	left: 0;
  right: 0;
  bottom: 80px;
  margin: auto;
	/*margin: -145px 0 0 -295px;*/
	padding-bottom: 40px;
	width: 590px;
	height: 475px;
	border-radius: 5px;
	background: #eff3f7;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.enter-header {
	display: block;
	width: 100%;
	margin: 0 0 10px 0;
	padding: 15px 0;
	color: #ffffff;
	font-size: 40px;
	font-family: 'fira_sansbook';
	background-color: #48cbe8;
	text-align: center;
	font-weight: normal;
	border-bottom: 17px #67dffa solid;
}

.login-content {
	padding: 0;
}

.login-form {
	width: 425px;
	margin: 0 auto;
}

.form-block {
	margin-bottom: 10px;
}

.login-label {
	color: #b2bac1;
	font-size: 36px;
	text-align: center;
	display: block;
	font-family: 'fira_sansbook';
}

.login-input {
	display: block;
	box-sizing: border-box;
	min-width: 200px;
	width: 100%;
	border: 1px solid #3ba8c0;
	border-radius: 5px;
	color: #48CDE8;
	padding: 23px;
	background: #fbfcfd;
	margin-bottom: 15px;
	outline: none;
}

.login-input::-webkit-input-placeholder,
.login-text::-webkit-input-placeholder {
	color: #48CBE8;
}

.login-input::-moz-placeholder,
.login-text::-moz-placeholder {
	color: #48cbe8;
}

.login-btn-center {
	text-align: center;
}

.login-btn {
	color: #fbfcfd;
	height: 60px;
	font-family: 'fira_sansbook';
	font-size: 36px;
	border: 0;
	padding: 0 60px;
	border-radius: 5px;
	outline: none;
}

.login-btn:hover {
	border: 0;
}

.login-btn:active {
	border-bottom: 0;
	border-top: 2px solid #19aaca;
}

.login-btn-submit {

	background: #48CBE8;
	border-bottom: 2px solid #19aaca;

}
