.about {
	background: #eff3f7;
	border-radius: 4px;
	margin-bottom: 26px;
}

.about .about-header {
	font-family: 'fira_sansbook';
	font-size: 27px;
	font-weight: normal;
	color: #3ba8c0;
	border-bottom: 2px #3ba8c0 solid;
	margin: 0 0 12px 0;
	padding: 12px 23px;
	display: inline-block;
}

.about .about-body {
	/*padding-bottom: 20px;*/
	display: inline-block;
}

/*АВАТАР*/
.image-wrap {
	float: left;
	margin-left: 55px;
	margin-top: 18px;
}

.avatar-box {
	width: 142px;
	height: 142px;
	border-radius: 50%;
	overflow: hidden;
	border: 5px solid #3ba8c0;
}

.about .worksheet-wrap {
	float: right;
	width: 400px;
}

.worksheet-list {

	list-style: none;
	padding: 0px;
	margin-top: 6px;
	margin-left: 22px;
}

.worksheet-item {
	padding-bottom: 9px;
}

.worksheet-what {
	float: left;
	color: #4a545d;
	font-size: 17px;
	font-family: 'fira_sansmedium';
}

.worksheet-info {
	display: inline-block;
	color: #767d84;
	font-weight: bold;
	max-width: 264px;
	margin-left: 14px;
}

.skills-list {
	float: right;
	padding: 0px;
	width: 210px;
}

.skill-item {
	list-style: none;
	display: inline-block;
	background: -webkit-linear-gradient(top, #3ba8c0 50%, #2e8ca2 -100%);
	color: #fff;
	font-size: 14px;
	height: 20px;
	text-align: center;
	border-radius: 3px;
	line-height: 20px;
	padding-left: 13px;
	padding-right: 13px;
	margin-top: 2px;
	margin-bottom: 9px;
	margin-left: 8px;
	font-family: 'proxima_nova_condensedlight';
}

.about-list {
	list-style: none;
	margin-left: 40px;
	padding-left: 0px;
}

.icon-work {
	background: url(../img/work.png) no-repeat;
}

.about-item {
	padding-bottom: 6px;
	text-indent: 52px;
}

.icon-college {
	background: url(../img/education.png) no-repeat;
	/*margin-left: -3px;*/
}

.icon-course {
	background: url(../img/course.png) no-repeat;
	margin-left: 9px;
	text-indent: 43px;
}

.where {
	font-size: 17px;
	color: #5a636b;
	font-family: 'fira_sansbook';
}

.period {
	font-size: 15px;
	color: #828990;
	font-family: 'fira_sanslight';
}


.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix: after {
	clear: both;
}