html {
	height: 100%;
}

body {
	height: 100%;
	background: url(../img/background.png) repeat;
	font: normal 1em 'fira_sanslight';
	color: #4a545d;
}

.container {
	width: 960px;
	margin: 0 auto;
}



/*ХЕДЕР*/
.container-header {
	max-width: 1200px;
	min-width: 960px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.page-header {
	height: 119px;
	background: #eff3f3;
	background-image: linear-gradient(to right,  #eff3f7, #256c7f, #eff3f7);
	background-repeat: no-repeat;
	background-position: 50% 100%;
    background-size: 100% 3px;
    position: relative;
    margin-bottom: 39px;
}

.page-header .header-logo-link {
	position: absolute;
	top: 39px;
	left: 0;
}

.page-header .header-logo-text {
	position: absolute;
	left: -9999px;
}

.page-header .socials {
	position: absolute;
	right: 0;
	top: 36px;
}

/*СОЦИАЛЬНЫЕ ИКОНКИ*/
.socials {
	margin: 0;
	padding: 0;
	min-width: 260px;
}

.socials .socials-item {
	list-style: none;
	display: inline-block;
	height: 47px;
	width: 47px;
	margin-left: 19px;
	/* Отступ у таких элементов всегда слева*/
}

.socials .socials-item:first-child {
	margin-left: 0;
	/*Обнуляем у первого элемента, т.к. не нужен*/
}

.socials .socials-link {
	display: block;
	height: 100%;
	width: 100%;
	text-indent: -9999px;
	background: url(../img/socials-sprite.png) no-repeat;
}

.socials .socials-link.vk {background-position: 0px 0px;}
.socials .socials-link.tw {background-position: -71px 0px;}
.socials .socials-link.fb {background-position: -140px 0px;}
.socials .socials-link.gh {background-position: -213px 0px;}
.socials .socials-link:hover {background-position-y: -59px;}



/*САЙДБАР*/
.sidebar {
	width: 250px;
	float: left;
}

/*НАВИГАЦИЯ*/
.navigation {
	overflow: hidden;
	background: #eff3f7;
	border-radius: 4px;
	margin-bottom: 26px;
}

.navigation .navigation-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.navigation .navigation-item {
	border-top: 2px solid #3ba8c0;
	margin: 0 11px;
}

.navigation .navigation-item:first-child {
	border-top: none;
}
/*текущий пункт*/
.navigation .navigation-item.current{
	background: #3ba8c0;
	margin: 0;
	border-bottom: none;
	padding-left: 11px;
	margin-bottom: -2px; /* !!! */
}

.navigation .navigation-item.current .navigation-link {
	color: #f9fafb;
	font-size: 22px;
}
/*текущая строка конец*/
.navigation .navigation-link {
	font-family: 'fira_sansbook';
	display: block; /* заполнение ссылкой весь div по вертикали */
	font-size: 20px;
	text-decoration: none;
	color: #959aa8;
	margin-left: 16px;
	padding: 20px 0px;
}

.navigation .navigation-link:hover {
	color: #3ba8c0;
}

.contacts {
	overflow: hidden;
	background: #eff3f7;
	border-radius: 4px;
	line-height: 40px;
}

.contacts-header {
	background: #3ba8c0;
}

.header-inner-text {
	font-family: 'fira_sansbook';
	color: #fff;
	margin-left: 20px;
	font-size: 21px;
	line-height: 40px;
}

.contacts-list {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.contacts-item {
	text-align: left;
	text-indent: 65px;
}

.contacts-link {
	text-decoration: none;
	color: #fff;
}

.contacts-link:hover {
	text-decoration: underline;
}

.contacts-item-mail {
	background: url(../img/mail.png) no-repeat;
	background-position: 35px;
	background-color: #41b9d4;
}

.contacts-item-phone {
	background: url(../img/phone.png) no-repeat;
	background-position: 35px;
	background-color: #48cbe8;
}

.contacts-item-skype {
	background: url(../img/skype.png) no-repeat;
	background-position: 35px;
	background-color: #51daf8;
}



/*ИЗМЕНЯЕМАЯ ИНФОРМАЦИЯ*/
.variable-content {
	width: 650px;
	float: right;
}



/*ФУТЕР*/
.page-footer {
	background: #eff3f3;
	background-image: linear-gradient(to right,  #eff3f7, #256c7f, #eff3f7);
	background-repeat: no-repeat;
    background-size: 100% 3px;
   	font-family: 'fira_sanslight';
    color: #4a545d;
    min-width: 970px;
    clear: both;
}

.page-footer .container {
	padding-top: 23px;
	position: relative;
}

.page-footer .copyright {
	text-align: center;
	margin: 0 180px;
	padding-top: 7px;
	font-size: 13px;
}

.page-footer .lock {
	position: absolute;
	top: 26px;
	left: 20px;
}

.lock .lock-inner {
	display: block;
	height: 40px;
	font-family: 'fira_sanslight';
	font-size: 16px;
	line-height: 2.2;
	color: #4a545d;
	text-decoration: none;
	text-indent: 5px;
	background: url(../img/lock_closed.png) no-repeat;
	padding-left: 24px;
}

.lock .lock-inner:hover {
	text-decoration: underline;
	background: url(../img/lock_open.png) no-repeat;
}

/*ФУТЕР внизу*/
.wrapper {
	position: relative;
	min-height: 100%;
	min-width: 970px;
	height: auto;
}
.wrapper:after {
	content: "";
	height: 80px;
	display: block;
}

.page-footer {
	height: 80px;
    margin-top: -80px;
}