.works {
	background: #eff3f7;
	border-radius: 4px;
	margin-bottom: 26px;
	/*min-height: 855px;*/
}

.works .works-header {
	font-family: 'fira_sansbook';
	font-size: 27px;
	font-weight: normal;
	color: #3ba8c0;
	border-bottom: 2px #3ba8c0 solid;
	margin: 0 0 27px 0;
	padding: 12px 23px;
	display: inline-block;
}

.works .works-body {
	width: 610px;
	margin: 0 20px;
}

.works-list {
	margin: 0;
	padding: 0;
	font-size: 0;
}

.works-item {
	width: 183px;
	min-height: 240px;
	display: inline-block;
	vertical-align: top;
	margin-right: 30px;
	margin-bottom: 5px;
	list-style: none;
	text-align: center;
	/*border: 1px solid #3ba8c0;*/
}

.works-item:nth-child(3n) {
	margin-right: 0;
}



/*
██╗  ██╗ ██████╗ ██╗   ██╗███████╗██████╗
██║  ██║██╔═══██╗██║   ██║██╔════╝██╔══██╗
███████║██║   ██║██║   ██║█████╗  ██████╔╝
██╔══██║██║   ██║╚██╗ ██╔╝██╔══╝  ██╔══██╗
██║  ██║╚██████╔╝ ╚████╔╝ ███████╗██║  ██║
╚═╝  ╚═╝ ╚═════╝   ╚═══╝  ╚══════╝╚═╝  ╚═╝*/

.works-hover {
  position: relative;
  border: 2px solid #3ba8c0;
  border-radius: 4px;
  margin-bottom: 6px;
}

.works-hover .works-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.effect {
  width: 179px;
  height: 127px;
  overflow: hidden;
}

.effect .works-image-hover {
  position: absolute;
  top: -100%;
  left: 0px;
  background: rgba(1, 108, 164, 0.75);
  width: 100%;
  height: 100%;
  color: #3ba8c0;
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0.2s;
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0.2s;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0.2s;
  -ms-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0.2s;
  transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0.2s;
}

.effect .works-image-hover .works-item-hover-btn {
  width: 80px;
  text-align: center;
  display: block;
  background: transparent;
  color: white;
  text-decoration: none;
  padding: 0;
  border: 3px solid white;
  border-radius: 6px;
  margin: 50px auto;
  font-family: 'fira_sansbook';
  font-size: 13px;
}

.effect:hover .works-image-hover {
  top: 0px;
}



.works-title {
	font-family: 'fira_sanslight_italic';
	font-size: 13px;
	text-decoration: none;
	color: #3ba8c0;
	font-weight: normal;
	margin: 0 0 6px 0;
	word-break: break-all;
}

.works-info {
	font-family: 'fira_sanslight';
	font-size: 15px;
	margin: 0;
	padding-bottom: 40px;
	line-height: 1.2em;
}

.works-item .add-item {
	min-height: 130px;
}

.works-add-link {
	display: block;
	height: 47px;
	width: 179px;
	font-family: 'fira_sanslight';
	font-size: 13px;
	text-decoration: none;
	color: #3ba8c0;
	padding-top: 80px;
	background: #edf8fc url(../img/add-item.png) no-repeat center 35px;
	border: 1px dashed #3ba8c0;
	border-radius: 4px;
}



/*
 █████╗ ██████╗ ██████╗
██╔══██╗██╔══██╗██╔══██╗
███████║██║  ██║██║  ██║
██╔══██║██║  ██║██║  ██║
██║  ██║██████╔╝██████╔╝
╚═╝  ╚═╝╚═════╝ ╚═════╝ */

.add-wrapper {
	display: none;
	background: #EFF3F8;
	width: 362px;
	padding: 20px;
	border-radius: 5px;
}

.add-heading {
	background: #48CBE8;
	color: white;
	padding: 5px 15px 0 15px;
	margin: -20px -20px 10px -20px;
	border-bottom: 10px solid #67dffa;
	border-radius: 5px 5px 0 0;
}

.add-heading-title {
	margin: 0;
	font-family: 'fira_sansbook';
	font-weight: normal;
	font-size: 27px;
}

.add-close {
	display: inline-block;
	width: 25px;
	height: 25px;
	border: 2px solid white;
	border-radius: 50%;
	margin-top: 5px;
}

.add-close:before,
.add-close:after {
	content: " ";
	display: block;
	width: 15px;
	height: 2px;
	background: white;
}

.add-close:before {
	transform: rotate(45deg);
	margin: 12px 0 0 5px;
}

.add-close:after {
	transform: rotate(-45deg);
	margin: -2px 0 0 5px;
}

.add-close-hidden-text {
	position: absolute;
	left: -9999px;
}

.add-label {
	color: #95a1ab;
	font-family: 'fira_sansbook';
	font-size: 19px;
	font-weight: normal;
	font-style: normal;
}

.add-input,
.add-text {
	display: block;
	width: 100%;
	color: #48CDE8;
	border: 1px solid #48cbe8;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 10px;
	font-size: 13px;
	margin-bottom: 5px;
	outline: none;
}

.server-ans {
	display: none;
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	font-size: 13px;
	text-align: center;
	margin-bottom: 5px;
	border-radius: 5px;
}

.captcha-ans {
	display: none;
	box-sizing: border-box;
	max-width: 93px;
	height: 76px;
	padding: 10px;
	font-size: 18px;
	text-align: center;
	border-radius: 3px;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.08);
	-webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.08);;
	-moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.08);;
}

.captcha-mes {
	background: #f9f9f9;
	border: 1px solid #d3d3d3;
	color: #000;
}

.error-mes {
	background-color: #f2cccd;
	color: #f97e76;
}

.success-mes {
	background-color: #b8e1ce;
	color: #49bb7b;
}

.add-file-text-wrapper {
	height: 43px;
	width: 308px;
	border: 1px solid #48cbe8;
	border-radius: 5px 0 0 5px;
	background: white;
	color: #48CBE8;
	font-size: 13px;
	padding: 10px;
	margin-bottom: 5px;
	box-sizing: border-box;
}

.add-file-btn-wrapper {
	background: #48cbe8 url(../img/upload.png) no-repeat center;
	border-radius: 0 5px 5px 0;
	width: 54px;
	height: 43px;
}

.add-file-btn {
	opacity: 0;
	border: 0;
	height: 43px;
	opacity: 0;
	width: 0;
	overflow: hidden;
	padding-left: 44px;
	outline: none;

}

.add-text {
	height: 110px;
	max-width: 362px;
	margin-bottom: 15px;
}

.add-submit {
	height: 35px;
	display: block;
	background: #48cbe8;
	color: white;
	border: 0;
	border-bottom: 2px solid #19aaca;
	border-radius: 5px;
	font-family: 'fira_sansbook';
	font-size: 21px;
	padding: 0 20px;
	margin: 0 auto;
	box-sizing: border-box;
	outline: none;
}

.add-submit:hover {
	/*padding: 1px 20px 1px 20px;*/
	border-bottom: 0;
}

.add-submit:active {
	border-bottom: 0;
	border-top: 2px solid #19aaca;
}