{% extends 'main_template.twig' %}

{% block content %}
<!-- ОСНОВНАЯ ИНФОРМАЦИЯ -->
<section class="about">
  <h2 class="about-header">Основная информация</h2>
    <div class="about-body clearfix">
        <div class="image-wrap">
          <div class="avatar-box"><img src="{{ config.base_url }}app/img/ava.png" alt="avatar"></div>
        </div>
        <div class="worksheet-wrap">
          <ul class="worksheet-list">
            <li class="worksheet-item clearfix">
              <div class="worksheet-what">Меня зовут:</div>
              <div class="worksheet-info">Ефимов Максим Андреевич</div>
            </li>
            <li class="worksheet-item clearfix">
              <div class="worksheet-what">Мой возраст:</div>
              <div class="worksheet-info">22 года</div>
            </li>
            <li class="worksheet-item clearfix">
              <div class="worksheet-what">Мой город</div>
              <div class="worksheet-info">Санкт-Петербург</div>
            </li>
            <li class="worksheet-item clearfix">
              <div class="worksheet-what">Моя специализация:</div>
              <div class="worksheet-info">FRONTEND - разработчик</div>
            </li>
            <li class="worksheet-item clearfix">
              <div class="worksheet-what">Ключевые навыки:</div>
              <div class="worksheet-info info">
                <ul class="skills-list">
                  <li class="skill-item">html</li>
                  <li class="skill-item">css</li>
                  <li class="skill-item">javascript</li>
                  <li class="skill-item">gulp</li>
                  <li class="skill-item">git</li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
    </div>
</section>

<!-- ОПЫТ РАБОТЫ -->
<section class="about">
  <h2 class="about-header">Опыт работы</h2>
    <div class="about-body clearfix">
      <ul class="about-list">
        <li class="about-item icon-work">
          <div class="where">ЗАО «АКВА-СЕРВИС» - Конструктор сектора электрооборудования</div>
          <div class="period">Июль 2012 - Август 2012</div>
        </li>
        <li class="about-item icon-work">
          <div class="where">ЗАО Банк «Советский» - Специалист группы сопровождения ПО</div>
          <div class="period">Август 2013 - Август 2015</div>
        </li>
      </ul>
    </div>
</section>

<!-- ОБРАЗОВАНИЕ -->
<section class="about">
  <h2 class="about-header">Образование</h2>
  <div class="about-body clearfix">
    <ul class="about-list">
      <li class="about-item icon-college">
        <div class="where">Высшее. СПБГУ ИНЖЭКОН. Информационные системы и технологии</div>
        <div class="period">Сентябрь 2010 - Июль 2015</div>
      </li>
      <li class="about-item icon-course">
        <div class="where">Курс Loftschool.ru - Комплексное обучение ВЕБ-РАЗРАБОТКЕ</div>
        <div class="period">Сентябрь 2015 - по настоящее время</div>
      </li>
    </ul>
  </div>
</section>
{% endblock %}
